body {
  background-image: url("./images/background.jpg");
  background-size: cover;
  background-color: black;
  color: white;
  background-repeat: no-repeat;
  padding: 10px;
}

button.sw-button {
  background-color: white;
  color: black;
  border: 0;
  margin: 3px;
}
#planet-list-page {
  text-align: center;
}
#planet-detail-page {
  padding: 8%;
}
#planet-list {
  list-style-type: none;
  transform: rotateX(30deg);
  padding: 0;
}
.planet-list-item {
  padding: 5px;
}
.planet-list-item a {
  color: white;
}
.planet-list-item a:visited {
  color: gray;
}
.planet-list-item a:hover {
  color: yellow;
}
